
.header{
    position: fixed;
    width: 100%;
    z-index: 10;
 
}
.header .logo{
    width: 10%;
    float: left;
}
.header .nav{
    width: 80%;
    float: left;
    list-style: none;
    background-color:rgba(0, 0, 0, 0.685);
    height: 60px;
    text-align: center;
}
.header .nav li{
    display: inline-block;
}
.header .nav li a{
    color: white;
    text-decoration: none;
    display: block;/*تحويله لعنصر block*/
    padding: 30px 40px;
    font-size: 20px;
}

.header .nav li a:after{
    content: "";
    display: block;
    width: 0px;
    height: 3px;
    background-color: chartreuse;
    transition: .7s;
}
.header .nav li a:hover:after{
   width: 100%;
   
}
.header .nav li a:hover{
    background-color: black;
    height: 1px;
    color:red;
}
    

#div1{
    float: right;
    margin-top:15px ;
    margin-right: 50px;
 
    
}


.div10{
 position: absolute;
 top: 162px;left: 0px;
 
 width: 700px;
 height: 270px;
 
}
#divsec{
    background-image: url(h.jpg);
    border: 3px white solid;
width: 70%;
height: 100%;
      display: flex;
      margin: 0px 50px;
      margin-top: 100px;
    
    
}
#table{
    float: right;
    
    box-shadow: cadetblue 10px 30px 20px;
    width: 90%;
}


.te{
    width: 300px;
    height: 100px;
    margin-bottom: 100px;
    margin-right: 10px;
   
    padding: 20px;
}

/*بداية  تنسيقات القسم  الرئيسي  */
.home{
    min-height: 100vh;
    background:url(sky.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home form{
    margin-top: 7rem;
    background:#fff;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
    border:.1rem solid rgba(0,0,0,.2);
    width:70rem;
    padding:2rem;
}

.home form h3{
    text-align: center;
    color:#333;
    font-size: 3rem;
}

.home form .buttons-container{
    display: flex;
    gap:1.5rem;
}

.home form .buttons-container .btn{
    flex:1;
}

.home form .inputBox{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    margin-top: 2rem;
}

.home form .inputBox input,
.home form .inputBox select{
    flex:1 1 25rem;
    border:.1rem solid #333;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    font-size: 1.5rem;
    padding:1rem;
    text-transform: none;
}

.home form .btn{
    width: 100%;
    margin-top: 2rem;
}

/*نهاية  تنسيقات القسم الرئيسي  */


/*بداية  تنسيقات قسم الخدمات  */

.services .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
}

.services .box-container .box{
    flex:1 1 30rem;
    border-radius: .5rem;
    background:#fff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border:.1rem solid rgba(0,0,0,.2);
    text-align: center;
    padding:2rem;
}

.services .box-container .box h3{
    font-size: 2.5rem;
    color:#333;
}

.services .box-container .box p{
    font-size: 1.5rem;
    color:#666;
    padding:.5rem 0;
    line-height: 2;
}

/*نهاية  تنسيقات قسم الخدمات  */



.btnr{
margin-top: 1rem;
display: inline-block;
padding:.8rem 3.5rem;
border-radius: .5rem;
font-size: 1.7rem;
color:var(--red);                                     /*  لعرض التفاصيل والارسال*/
background:var(--light-red);
cursor: pointer;
text-align: center;
}

.btnr:hover{
background:var(--red);
color:#fff;
}

.contacc .icons-containe{
display: flex;
flex-wrap: wrap;
gap:1.5rem;
padding-bottom: 2rem;
}

.contacc .icons-containe .icons{
flex:1 1 20rem;
background: #fff;
padding:1rem;

border-radius: .5rem;
text-align: center;
}

.contacc .icons-containe .icons img{
height:4rem;
}

.contacc .icons-containe .icons h3{
font-size: 2.5rem;
color:#333;

}

.contacc .icons-containe .icons p{
font-size: 1.5rem;
color:#666;

}








.contacc .rom form textarea,
.contacc .rom form .inputBoo input{
margin-top: 1.5rem;
padding:1rem;
font-size: 1.7rem;
color:rgb(16, 9, 9);
background: #f7f7f7;

width:49%;
}

.contacc .rom form textarea{
width:100%;
height:20rem;
resize: none;
}

.contacc .rom form textarea:focus,
.contacc .rom form .inputBoo input:focus{
background-color: var(--light-red);
}
/*نهاية  تنسيقات قسم التواصل بنا  */
.n{
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(255, 0, 0);
    text-align: center;
    border-radius: 0px 5px 15px 0px;
   
}

.aside{
    float: left; list-style-type:none ;font-size: 20px; border:rgb(47, 255, 227) 10px dashed; padding:15px; background:linear-gradient(to left,rgb(42, 132, 165),rgb(0, 42, 255),rgb(0, 255, 200)); width: 90%;height: 200px;
}

#foot{
    border: 50px 20px ;
    
}


